WORKING_Flow.json
[
    {
        "id": "f8d31b3f79add29b",
        "type": "tab",
        "label": "Triage Artefact Processor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "adaa3f44094f3fb5",
        "type": "tab",
        "label": "Malware Analysis",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c32c57ee0c89b2b",
        "type": "tab",
        "label": "Network Analysis",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "610fd5cf8138bd6d",
        "type": "tab",
        "label": "Cloud Forensic Analysis",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "44cf1917690496d8",
        "type": "tab",
        "label": "Log Analysis Tooling Process",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d75898983a7b91b1",
        "type": "tab",
        "label": "Chainsaw Brainmap",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "018a08567380648f",
        "type": "tab",
        "label": "E01 Process",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ff0d2698d578dcb2",
        "type": "tab",
        "label": "VHD Process",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a3bca09fa64d5135",
        "type": "tab",
        "label": "VMDK Process",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb185f14c626bdfb",
        "type": "tab",
        "label": "VHDX Process",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7fd75b92004ac098",
        "type": "tab",
        "label": "Detect Archive & Integrity Check",
        "disabled": false,
        "info": "This workflow identifies different types of archive types and runs integrity checks based on the archiving tool",
        "env": []
    },
    {
        "id": "bc372fc61e93398a",
        "type": "tab",
        "label": "Decompress Archive",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25f311019f0d6662",
        "type": "tab",
        "label": "Slack Notifications",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f05e4b7e53a7b3c",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "e8c9dac0b45ce024",
        "type": "function",
        "z": "f8d31b3f79add29b",
        "name": "Set-Log2timeline CLI params",
        "func": "var plasodir = \"/cases/plaso/\";\nvar plasoname = msg.dirname.replace('processor', 'plaso');\nmsg.l2tcli = \"log2timeline.py --status_view none --parsers \\\"filestat,winreg,esedb,binary_cookies,chrome_cache,chrome_preferences,custom_destinations,czip,firefox_cache,firefox_cache2,java_idx,jsonl,lnk,mcafee_protection,msiecf,olecf,opera_global,opera_typed_history,pe,prefetch,recycle_bin,recycle_bin_info2,sqlite,symantec_scanlog,text,trendmicro_url,trendmicro_vd,windefender_history,winevt,winevtx,winjob\\\" --storage-file\" + \" \" + plasoname + \".plaso\" + \" \" + msg.unzipdir;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 780,
        "wires": [
            [
                "da0236f64e679945"
            ]
        ]
    },
    {
        "id": "da0236f64e679945",
        "type": "exec",
        "z": "f8d31b3f79add29b",
        "command": "",
        "addpay": "l2tcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Log2timeline Process",
        "x": 860,
        "y": 780,
        "wires": [
            [],
            [],
            [
                "aef29c2f6fb1ae0e"
            ]
        ]
    },
    {
        "id": "2b3a6c9be610f3ec",
        "type": "exec",
        "z": "f8d31b3f79add29b",
        "command": "timesketch_importer",
        "addpay": "tsimport",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Timesketch Import Process",
        "x": 1220,
        "y": 960,
        "wires": [
            [],
            [],
            [
                "381d356754cbd5b7"
            ]
        ]
    },
    {
        "id": "a1ed6bf3ca374590",
        "type": "function",
        "z": "f8d31b3f79add29b",
        "name": "Timesketch CLI params",
        "func": "var plasofullpath = \"/cases/plaso/\"+ msg.plasofname + \".plaso\";\nmsg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.plasofname + \"-triage\" + \" --sketch_id \" + \"1\" + \" \" + plasofullpath;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 960,
        "wires": [
            [
                "2b3a6c9be610f3ec"
            ]
        ]
    },
    {
        "id": "97c8951a9e7c5bec",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "Timesketch Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1810,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c40feb7825e478d4",
        "type": "comment",
        "z": "f8d31b3f79add29b",
        "name": "Monitored Directory /cases/processor",
        "info": "",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "1dc2e40229cf819f",
        "type": "comment",
        "z": "f8d31b3f79add29b",
        "name": "Double click on Queue Zips to the adjust bulk processing value",
        "info": "Tweak the value to configure how many archives to process at any given time",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "e0658d835205bc43",
        "type": "comment",
        "z": "f8d31b3f79add29b",
        "name": "Change Log2timeline params here",
        "info": "",
        "x": 660,
        "y": 740,
        "wires": []
    },
    {
        "id": "eeafbc27927a5598",
        "type": "comment",
        "z": "f8d31b3f79add29b",
        "name": "Change Timesketch CLI params here",
        "info": "",
        "x": 950,
        "y": 920,
        "wires": []
    },
    {
        "id": "381d356754cbd5b7",
        "type": "switch",
        "z": "f8d31b3f79add29b",
        "name": "Timesketch Process Result",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1520,
        "y": 980,
        "wires": [
            [
                "0abb6da646da8e2a",
                "c2df1a428cd94263"
            ],
            [
                "97c8951a9e7c5bec",
                "0abb6da646da8e2a",
                "8a7ad3746fdfc178"
            ]
        ]
    },
    {
        "id": "c223eba39864f63e",
        "type": "exec",
        "z": "f8d31b3f79add29b",
        "command": "rm -rf ",
        "addpay": "unzipdir",
        "append": "",
        "useSpawn": "false",
        "timer": "300",
        "winHide": false,
        "oldrc": false,
        "name": "Delete Decompressed Dir",
        "x": 1350,
        "y": 780,
        "wires": [
            [],
            [],
            [
                "8e295048a3752df2"
            ]
        ]
    },
    {
        "id": "1a3f028824bd9f13",
        "type": "switch",
        "z": "f8d31b3f79add29b",
        "name": "Decompression Status",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "562bd891136c7a22",
                "1ce9ab81db8fa381"
            ],
            [
                "a8c0e026d01fe67f",
                "0abb6da646da8e2a",
                "d3ad201a6345ec44"
            ]
        ]
    },
    {
        "id": "a8c0e026d01fe67f",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "Decompress Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 440,
        "wires": []
    },
    {
        "id": "b50268e02b2de0d7",
        "type": "comment",
        "z": "f8d31b3f79add29b",
        "name": "READ ME FIRST! Double Click",
        "info": "**CURRENT CONFIG OF THE AUTOMATION DO NOT PROCESS NESTED ZIPS OF HOSTS.FOR EXAMPLE, YOU CANNOT UPLOAD A SINGLE ZIP CONTAINING TRIAGE ARCHIVES OF N DIFFERENT HOSTS.**\n\n**Following folders need to be created beforehand**\n/cases/processor - this is where archives will need to be copied to. Note that the original archives copied here will be retained indefinitely.\n/cases/plaso - this is where plaso files be stored after log2timeline completes its processing.\n/cases/evtxproc/ -processed hayabusa csvs will be stored here.\n\n**Hayabusa Evtx Processing***\nThis is currently configured for KAPE triage configurations, where the evtx is expected like below\nunzipped directory/C/Windows/System32/winevt/. You can change the path by updating the path in Hayabusa Process Variables node. You must change the timesketch username and password information in the same node. Otherwise it will fail to ingest to Timesketch\n\n***Slack notifications***\nYou must set the slack webhook and username configuration within the \"Notification to Slack\" node within \"Slack Notifications\" flow \n\nMake sure Node-RED can read and write to all folders under /cases.\n\n**Compression utility must be pre-installed on the Linux host prior running the workflow**\nThis automation is configured to detect Zip, RAR, Tar GZ & BZ2, 7z archives.\n\n** \"Variable Setup\" node** \nThis node contains the key commandline parameters used for archive tools and other variables required for automation.\n\n**You need the following Node-RED nodes installed via the Node-RED palette**\n\n-node-red-contrib-fs \n-node-red-contrib-fs-ops \n-node-red-contrib-simple-queue \n-node-red-contrib-watchdirectory\n-node-red-contrib-slack-files\n\n**Change the Log2Timeline CLI Parameters and Timesketch CLI Parameters**\nYou should review the CLI parameters used for Log2timeline and Timesketch in their respective nodes. \n\n\n**FYI Only**\nNode-RED has a default memory cap of 2GB. You can increase this through the use of environment variables. Add the following to your bash.rc of the user in which Node-RED runs. Size is in MB.\n\nNODE_OPTIONS=--max_old_space_size=4096",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "8e295048a3752df2",
        "type": "switch",
        "z": "f8d31b3f79add29b",
        "name": "Delete Folder",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1600,
        "y": 780,
        "wires": [
            [
                "a1ed6bf3ca374590",
                "c7d1af60f74efd2f"
            ],
            [
                "0abb6da646da8e2a",
                "cbe146b403c6aec0",
                "81fe69036c81c53d"
            ]
        ]
    },
    {
        "id": "8b62e0d85a31d638",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "L2T Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 700,
        "wires": []
    },
    {
        "id": "cbe146b403c6aec0",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "Folder Deletion Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 800,
        "wires": []
    },
    {
        "id": "b6ecf5f15136a82b",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Archive Detection",
        "mode": "link",
        "links": [
            "bb4beaa62a0d33db",
            "a8d477a02835a411"
        ],
        "x": 805,
        "y": 360,
        "wires": []
    },
    {
        "id": "65e9ad454afcf6d1",
        "type": "link in",
        "z": "f8d31b3f79add29b",
        "name": "Post Integrity Check In",
        "links": [
            "3a6757a824d0b781"
        ],
        "x": 895,
        "y": 360,
        "wires": [
            [
                "0abb6da646da8e2a"
            ]
        ]
    },
    {
        "id": "3b18ad5734fc996b",
        "type": "function",
        "z": "f8d31b3f79add29b",
        "name": "Variable Setup",
        "func": "//Setting up directory path of the file upload\nmsg.config ={}\nmsg.config.start = msg.filedir\n\n//Setting up vars to handle archive decompress operations\nvar filenameUpper = msg.file.split(\".\")[0];\nvar filename = filenameUpper.toLowerCase();\nmsg.tstamp = new Date().toISOString().substring(0,19).replace(/-/g,\"\").replace(/:/g,\"\");\nvar dirnameUpper = filename + msg.tstamp + \"Z\";\nmsg.dirname = dirnameUpper.toLowerCase();\nmsg.plasofname = msg.dirname;\n//msg.filename = msg.payload;\n\n//Setting up decompress parameters\nmsg.unzipdir = msg.filedir + '/' + msg.dirname;\nmsg.unzipcli = \"-qo \" + msg.filename + \" -d \" + msg.unzipdir;\nmsg.sevzipcli = \" x \" + msg.filename + \" -o\" + msg.unzipdir;\nmsg.targzcli = \" xzf \" + msg.filename + \" -C \" + msg.unzipdir;\nmsg.tarbz2cli = \" xjf \" + msg.filename + \" -C \" + msg.unzipdir;\nmsg.unrarcli = \"x \" + msg.filename + \" \" + msg.unzipdir;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "b6ecf5f15136a82b"
            ]
        ]
    },
    {
        "id": "f1ea48448bbde595",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "ToDecompress",
        "mode": "link",
        "links": [
            "5fd92537b38314b0"
        ],
        "x": 1475,
        "y": 360,
        "wires": []
    },
    {
        "id": "a9c3989928f3fee0",
        "type": "link in",
        "z": "f8d31b3f79add29b",
        "name": "Decompress Status In",
        "links": [
            "e8aed768bff52623"
        ],
        "x": 95,
        "y": 420,
        "wires": [
            [
                "1a3f028824bd9f13"
            ]
        ]
    },
    {
        "id": "aef29c2f6fb1ae0e",
        "type": "switch",
        "z": "f8d31b3f79add29b",
        "name": "Plaso Success",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1080,
        "y": 780,
        "wires": [
            [
                "c223eba39864f63e",
                "929888b23686884c"
            ],
            [
                "0abb6da646da8e2a",
                "8b62e0d85a31d638",
                "50851a2aa40d6716"
            ]
        ]
    },
    {
        "id": "d3ad201a6345ec44",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Decompression Failure",
        "mode": "link",
        "links": [
            "b43ee8044209a3aa"
        ],
        "x": 455,
        "y": 480,
        "wires": []
    },
    {
        "id": "562bd891136c7a22",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Decompression Success",
        "mode": "link",
        "links": [
            "edcac73c6d2f1fd4"
        ],
        "x": 465,
        "y": 400,
        "wires": []
    },
    {
        "id": "929888b23686884c",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Plaso-Success",
        "mode": "link",
        "links": [
            "a05e730349905e6d"
        ],
        "x": 1175,
        "y": 720,
        "wires": []
    },
    {
        "id": "50851a2aa40d6716",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Plaso Failure",
        "mode": "link",
        "links": [
            "bc9fb963b0687733"
        ],
        "x": 1175,
        "y": 840,
        "wires": []
    },
    {
        "id": "c2df1a428cd94263",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Timesketch Ingestion Success",
        "mode": "link",
        "links": [
            "a20fe85e7f1585f9"
        ],
        "x": 1705,
        "y": 940,
        "wires": []
    },
    {
        "id": "8a7ad3746fdfc178",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Timesketch Ingestion Failure",
        "mode": "link",
        "links": [
            "e1b089d27626665d"
        ],
        "x": 1695,
        "y": 1040,
        "wires": []
    },
    {
        "id": "62e7086b962f93fe",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Queue Release",
        "mode": "link",
        "links": [
            "75769f870091de80"
        ],
        "x": 1055,
        "y": 60,
        "wires": []
    },
    {
        "id": "c7d1af60f74efd2f",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Folder Deletion Success",
        "mode": "link",
        "links": [
            "8f9d6c75a332b924"
        ],
        "x": 1715,
        "y": 720,
        "wires": []
    },
    {
        "id": "81fe69036c81c53d",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Notification-OUT-Folder Deletion Failure",
        "mode": "link",
        "links": [
            "0975b2e8606a7c44"
        ],
        "x": 1715,
        "y": 840,
        "wires": []
    },
    {
        "id": "e4e7063f519ed216",
        "type": "function",
        "z": "f8d31b3f79add29b",
        "name": "KAPE Hayabusa Process Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.kape = msg.dirname + '/C/Windows/System32/winevt/logs/';\nmsg.hayabusa_job = msg.plasofname + '-hayabusa';\nmsg.hayabusa_out = '/cases/evtxproc/' + msg.hayabusa_job;\nmsg.hayabusa_exec =  'csv-timeline -d ' +msg.kape+ ' --RFC-3339 -o ' + msg.hayabusa_out + '.csv' + ' -p timesketch-verbose -U --no-wizard'\nmsg.hayabusa_ts = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.hayabusa_job + \" --sketch_id \" + \"1 \" + msg.hayabusa_out + '.csv';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "52415c7bb8e16c3a",
                "430a7da8abd665c9"
            ]
        ]
    },
    {
        "id": "52415c7bb8e16c3a",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "Out to Hayabusa Process",
        "mode": "link",
        "links": [
            "2397e77a3c79fda3"
        ],
        "x": 525,
        "y": 520,
        "wires": []
    },
    {
        "id": "c07a0968fd953921",
        "type": "link in",
        "z": "f8d31b3f79add29b",
        "name": "Hayabusa to Timesketch In",
        "links": [
            "04540ea77b74e085"
        ],
        "x": 225,
        "y": 780,
        "wires": [
            [
                "e8c9dac0b45ce024"
            ]
        ]
    },
    {
        "id": "4899ea50dd83351a",
        "type": "link in",
        "z": "f8d31b3f79add29b",
        "name": "Hayabusa Process Failed",
        "links": [
            "8f28d8c8efda634d"
        ],
        "x": 665,
        "y": 600,
        "wires": [
            [
                "0abb6da646da8e2a",
                "4c62df5220200fdf",
                "e8c9dac0b45ce024"
            ]
        ]
    },
    {
        "id": "4c62df5220200fdf",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "Hayabusa Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "4c538c90671aa59f",
        "type": "link in",
        "z": "f8d31b3f79add29b",
        "name": "From Hayabusa Failure",
        "links": [
            "168748d31fb17282"
        ],
        "x": 585,
        "y": 620,
        "wires": [
            [
                "0abb6da646da8e2a",
                "bd1b4ee6503bc34d",
                "e8c9dac0b45ce024"
            ]
        ]
    },
    {
        "id": "bd1b4ee6503bc34d",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "Hayabusa Timesketch Ingestion Failure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 680,
        "wires": []
    },
    {
        "id": "846701cdbfb12f64",
        "type": "comment",
        "z": "f8d31b3f79add29b",
        "name": "Hayabusa specific config here",
        "info": "",
        "x": 360,
        "y": 580,
        "wires": []
    },
    {
        "id": "519e07706b40afdf",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "E01 Process",
        "mode": "link",
        "links": [
            "84d7cd3a2988674f"
        ],
        "x": 645,
        "y": 60,
        "wires": []
    },
    {
        "id": "e2ea7e6a94a18404",
        "type": "function",
        "z": "f8d31b3f79add29b",
        "name": "Process ZIP",
        "func": "msg.payload = \"Processing ZIP file: \" + msg.filename;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "3b18ad5734fc996b"
            ]
        ]
    },
    {
        "id": "5b48534e1cd703c5",
        "type": "switch",
        "z": "f8d31b3f79add29b",
        "name": "File Type",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*\\.E01",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.zip",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.vhd",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": ".*\\.vhdx",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.vmdk",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "519e07706b40afdf"
            ],
            [
                "e2ea7e6a94a18404"
            ],
            [
                "dccc0af765f16871"
            ],
            [
                "1f168e07a0d53239"
            ],
            [
                "5d88f249dc4c5a80"
            ]
        ]
    },
    {
        "id": "dccc0af765f16871",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "VHD Process",
        "mode": "link",
        "links": [
            "236dcee18367a244"
        ],
        "x": 645,
        "y": 100,
        "wires": []
    },
    {
        "id": "5d88f249dc4c5a80",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "VMDK Process",
        "mode": "link",
        "links": [
            "abc43a287b554b44"
        ],
        "x": 645,
        "y": 140,
        "wires": []
    },
    {
        "id": "1f168e07a0d53239",
        "type": "link out",
        "z": "f8d31b3f79add29b",
        "name": "VHDX Process",
        "mode": "link",
        "links": [
            "1896b282f8d5a850"
        ],
        "x": 645,
        "y": 180,
        "wires": []
    },
    {
        "id": "79cc0876ab434694",
        "type": "watch-directory",
        "z": "f8d31b3f79add29b",
        "folder": "/cases/processor/",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "",
        "ignoredFilesType": "re",
        "name": "Watch for Triage Archives",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "5b48534e1cd703c5"
            ]
        ]
    },
    {
        "id": "0abb6da646da8e2a",
        "type": "simple-queue",
        "z": "f8d31b3f79add29b",
        "name": "Queue Zips",
        "count": "1",
        "unique_check": "",
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "4f821c6d2c595ac8",
                "62e7086b962f93fe"
            ]
        ]
    },
    {
        "id": "4f821c6d2c595ac8",
        "type": "fs-ops-mkdir",
        "z": "f8d31b3f79add29b",
        "name": "Create Unzip Dir",
        "path": "filedir",
        "pathType": "msg",
        "dirname": "dirname",
        "dirnameType": "msg",
        "recursive": false,
        "mode": "777",
        "fullpath": "dirname",
        "fullpathType": "msg",
        "x": 1340,
        "y": 360,
        "wires": [
            [
                "f1ea48448bbde595"
            ]
        ]
    },
    {
        "id": "1ce9ab81db8fa381",
        "type": "switch",
        "z": "f8d31b3f79add29b",
        "name": "",
        "property": "dirname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "/kape/",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "/collection/",
                "vt": "msg",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 90,
        "y": 640,
        "wires": [
            [
                "e4e7063f519ed216"
            ],
            [
                "1b8393b25e5274ec",
                "b803c3ca2b4158ec"
            ]
        ]
    },
    {
        "id": "1b8393b25e5274ec",
        "type": "function",
        "z": "f8d31b3f79add29b",
        "name": "VR Hayabusa Process Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.collection = msg.dirname + '/uploads/auto/C%3A/Windows/System32/winevt/Logs/';\nmsg.hayabusa_job = msg.plasofname + '-hayabusa';\nmsg.hayabusa_out = '/cases/evtxproc/' + msg.hayabusa_job;\nmsg.hayabusa_exec =  'csv-timeline -d ' +msg.collection+ ' --RFC-3339 -o ' + msg.hayabusa_out + '.csv' + ' -p timesketch-verbose -U --no-wizard'\nmsg.hayabusa_ts = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.hayabusa_job + \" --sketch_id \" + \"1 \" + msg.hayabusa_out + '.csv';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "52415c7bb8e16c3a",
                "ebfef9e11e2f2d06"
            ]
        ]
    },
    {
        "id": "b803c3ca2b4158ec",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "Switch Hayabusa Variable ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 880,
        "wires": []
    },
    {
        "id": "430a7da8abd665c9",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "KAPE Hayabusa Processing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 960,
        "wires": []
    },
    {
        "id": "ebfef9e11e2f2d06",
        "type": "debug",
        "z": "f8d31b3f79add29b",
        "name": "VR Hayabusa Processing",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 920,
        "wires": []
    },
    {
        "id": "7461cd115a5e16e8",
        "type": "switch",
        "z": "adaa3f44094f3fb5",
        "name": "File Type",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*\\.exe",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.dll",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.js",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": ".*\\.doc",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.pdf",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 140,
        "y": 460,
        "wires": [
            [],
            [],
            [],
            [],
            []
        ]
    },
    {
        "id": "dad7f195c5be795b",
        "type": "function",
        "z": "adaa3f44094f3fb5",
        "name": "Malware Variable Setup",
        "func": "// Setting up directory path of the file upload\nmsg.config = {};\nmsg.config.start = msg.filedirname;\n\n// Setting up vars to handle archive decompress operations\nvar malware = msg.filename.toLowerCase();\n//var malware = msg.filename.split(\".\")[0].toLowerCase();\n\n// Creating a Timestamp\nmsg.tstamp = new Date().toISOString().substring(0, 19).replace(/-/g, \"\").replace(/:/g, \"\");\n\n// Creating a File Name\nvar newMalware = malware;\n\n// Assigning the new filename to msg.plasofname\nmsg.malware = newMalware;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 360,
        "wires": [
            [
                "9cbe181f6ab5a8af"
            ]
        ]
    },
    {
        "id": "b9cf924273e30e00",
        "type": "function",
        "z": "adaa3f44094f3fb5",
        "name": "Process Malware File",
        "func": "msg.payload = \"Processing Malware file: \" + msg.filename;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 460,
        "wires": [
            [
                "dad7f195c5be795b"
            ]
        ]
    },
    {
        "id": "9cbe181f6ab5a8af",
        "type": "function",
        "z": "adaa3f44094f3fb5",
        "name": "Capa Malware Analysis Params",
        "func": "var malwaredir = \"/cases/malware/\";\n//var malwarefname = msg.malware.replace('processor', 'malware');\nvar malwaretxt = msg.malware.replace(\"exe\", \"txt\");\nmsg.capa = \"/opt/capa/./capa\" + \" \" + msg.malware + \" \" + \">>\" + \" \" + malwaretxt;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "6695eee14b943191"
            ]
        ]
    },
    {
        "id": "6695eee14b943191",
        "type": "exec",
        "z": "adaa3f44094f3fb5",
        "command": "",
        "addpay": "capa",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Capa Process",
        "x": 1140,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f338cda424220486",
        "type": "watch-directory",
        "z": "adaa3f44094f3fb5",
        "folder": "/cases/malware/",
        "recursive": "1",
        "typeEvent": "create",
        "ignoreInitial": true,
        "ignoredFiles": "",
        "ignoredFilesType": "re",
        "name": "Watch for Triage Archives",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "b9cf924273e30e00"
            ]
        ]
    },
    {
        "id": "4440a12ba308150a",
        "type": "comment",
        "z": "adaa3f44094f3fb5",
        "name": "https://github.com/mandiant/flare-floss",
        "info": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "a8baf99a2bb99007",
        "type": "comment",
        "z": "adaa3f44094f3fb5",
        "name": "https://github.com/Neo23x0/Fenrir",
        "info": "",
        "x": 720,
        "y": 160,
        "wires": []
    },
    {
        "id": "00d7490ddc0f3e90",
        "type": "comment",
        "z": "2c32c57ee0c89b2b",
        "name": "https://github.com/omriher/CapTipper/tree/python3_support",
        "info": "",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a312f7b0984b364",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "/opt/hayabusa/./hayabusa ",
        "addpay": "hayabusa_exec",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Hayabusa Evtx Process",
        "x": 330,
        "y": 180,
        "wires": [
            [],
            [],
            [
                "328f7d20e1b1a833",
                "88bbb0dccda88902"
            ]
        ]
    },
    {
        "id": "328f7d20e1b1a833",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "Evtx Process Status",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "bf88463397855b7a",
                "a1b64661a3ee175c",
                "88bbb0dccda88902"
            ],
            [
                "8f28d8c8efda634d",
                "0974be28f22e530d"
            ]
        ]
    },
    {
        "id": "bf88463397855b7a",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "timesketch_importer",
        "addpay": "hayabusa_ts",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Hayabusa data",
        "x": 820,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "288080687e42e36c"
            ]
        ]
    },
    {
        "id": "2397e77a3c79fda3",
        "type": "link in",
        "z": "44cf1917690496d8",
        "name": "Input Evtx Process",
        "links": [
            "52415c7bb8e16c3a"
        ],
        "x": 155,
        "y": 180,
        "wires": [
            [
                "4a312f7b0984b364"
            ]
        ]
    },
    {
        "id": "288080687e42e36c",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "Hayabusa Out to Timesketch",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1060,
        "y": 160,
        "wires": [
            [
                "5e7cd7a03f986367"
            ],
            [
                "168748d31fb17282",
                "c47ba0bd5dd540ee"
            ]
        ]
    },
    {
        "id": "8f28d8c8efda634d",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Hayabusa Error Out",
        "mode": "link",
        "links": [
            "4899ea50dd83351a"
        ],
        "x": 775,
        "y": 200,
        "wires": []
    },
    {
        "id": "168748d31fb17282",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Hayabusa to Timesketch Failure",
        "mode": "link",
        "links": [
            "4c538c90671aa59f"
        ],
        "x": 1325,
        "y": 260,
        "wires": []
    },
    {
        "id": "0974be28f22e530d",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Notification-OUT-Hayabusa Process Failure",
        "mode": "link",
        "links": [
            "3a52eeecb5988857"
        ],
        "x": 795,
        "y": 340,
        "wires": []
    },
    {
        "id": "a1b64661a3ee175c",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Notification-OUT-Hayabusa Process Success",
        "mode": "link",
        "links": [
            "63dc4d0d295180ee"
        ],
        "x": 795,
        "y": 280,
        "wires": []
    },
    {
        "id": "123e51f7f0621161",
        "type": "comment",
        "z": "44cf1917690496d8",
        "name": "Slack notification nodes",
        "info": "",
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "c47ba0bd5dd540ee",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Notification-OUT-Hayabusa Timesketch Ingestion Failure",
        "mode": "link",
        "links": [
            "3f4ad6eb73e91522"
        ],
        "x": 1315,
        "y": 200,
        "wires": []
    },
    {
        "id": "80297e36a05a7d75",
        "type": "comment",
        "z": "44cf1917690496d8",
        "name": "Slack notification nodes",
        "info": "",
        "x": 1280,
        "y": 60,
        "wires": []
    },
    {
        "id": "b303c561e5640afb",
        "type": "comment",
        "z": "44cf1917690496d8",
        "name": "Change Hayabusa Path here",
        "info": "",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "88bbb0dccda88902",
        "type": "debug",
        "z": "44cf1917690496d8",
        "name": "Hayabusa Processed Completed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 60,
        "wires": []
    },
    {
        "id": "4ceb2f8e309e5dac",
        "type": "debug",
        "z": "44cf1917690496d8",
        "name": "APTHunter Processed Completed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 760,
        "wires": []
    },
    {
        "id": "3bc476f26a853220",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "python3 /opt/APTHunter/APT-Hunter.py",
        "addpay": "apthunter_exec",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "APTHunter Evtx Process",
        "x": 890,
        "y": 940,
        "wires": [
            [
                "e05031cf8d470d50"
            ],
            [
                "e05031cf8d470d50"
            ],
            [
                "9330a0840c187491",
                "4ceb2f8e309e5dac",
                "e05031cf8d470d50"
            ]
        ]
    },
    {
        "id": "9330a0840c187491",
        "type": "switch",
        "z": "44cf1917690496d8",
        "d": true,
        "name": "Evtx Process Status",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1320,
        "y": 940,
        "wires": [
            [
                "6983d19dbaa436ce",
                "4ceb2f8e309e5dac"
            ],
            []
        ]
    },
    {
        "id": "6983d19dbaa436ce",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "timesketch_importer",
        "addpay": "hayabusa_ts",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest APTHunter data",
        "x": 1180,
        "y": 840,
        "wires": [
            [],
            [],
            [
                "64758bf9a853ea08"
            ]
        ]
    },
    {
        "id": "64758bf9a853ea08",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "APTHunter Out to Timesketch",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1450,
        "y": 840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "545d68826aaccc1f",
        "type": "function",
        "z": "44cf1917690496d8",
        "name": "KAPE APTHunter Process Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.kape = msg.dirname + '/C/Windows/System32/winevt/logs/';\nmsg.hayabusa_job = msg.plasofname + '-hayabusa';\nmsg.hayabusa_out = '/cases/evtxproc/' + msg.hayabusa_job;\nmsg.hayabusa_exec =  'csv-timeline -d ' +msg.kape+ ' --RFC-3339 -o ' + msg.hayabusa_out + '.csv' + ' -p timesketch-verbose -U --no-wizard'\nmsg.hayabusa_ts = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.hayabusa_job + \" --sketch_id \" + \"1 \" + msg.hayabusa_out + '.csv';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 780,
        "wires": [
            [
                "3bc476f26a853220",
                "e05031cf8d470d50"
            ]
        ]
    },
    {
        "id": "0a6dc408aa4493a9",
        "type": "function",
        "z": "44cf1917690496d8",
        "name": "VR APTHunter Process Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.collection = msg.dirname + '/uploads/auto/C%3A/Windows/System32/winevt/Logs/';\nmsg.destination = '/cases/processor/host-triage';\nmsg.winevt = msg.destination +\"/\"+ msg.plasofname \n//msg.chainsaw_job = msg.plasofname + '-chainsaw';\n//msg.chainsaw_out = '/cases/evtxproc/chainsaw/';\nmsg.apthunter_exec = \"-p\" + msg.winevt + \" -o\" + \"Project1 -allreport\";\n//msg.apthunter_ts = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_antivirus\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/antivirus.csv\";\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 840,
        "wires": [
            [
                "e05031cf8d470d50",
                "6992cc02c66368f1"
            ]
        ]
    },
    {
        "id": "12adb6d01a3cc181",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "",
        "property": "dirname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "/kape/",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "/collection/",
                "vt": "msg",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 210,
        "y": 820,
        "wires": [
            [
                "545d68826aaccc1f"
            ],
            [
                "0a6dc408aa4493a9"
            ]
        ]
    },
    {
        "id": "759b33a1f760e6a4",
        "type": "debug",
        "z": "44cf1917690496d8",
        "name": "Chainsaw Processed Completed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 360,
        "wires": []
    },
    {
        "id": "d16c6f5299b56c8b",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "/opt/chainsaw/./chainsaw ",
        "addpay": "chainsaw_exec",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Chainsaw Evtx Process",
        "x": 650,
        "y": 400,
        "wires": [
            [],
            [],
            [
                "0fe5ad9ebca6b604",
                "759b33a1f760e6a4"
            ]
        ]
    },
    {
        "id": "0fe5ad9ebca6b604",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "Evtx Process Status",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 940,
        "y": 460,
        "wires": [
            [
                "2e01b9631735c86c",
                "759b33a1f760e6a4",
                "4a637e84a8bf980d"
            ],
            []
        ]
    },
    {
        "id": "2e01b9631735c86c",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 1300,
        "y": 500,
        "wires": [
            [
                "d03f70ebe08e48eb"
            ],
            [
                "d03f70ebe08e48eb"
            ],
            [
                "669139136ac1b7d4",
                "d03f70ebe08e48eb"
            ]
        ]
    },
    {
        "id": "669139136ac1b7d4",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "Chainsaw Out to Timesketch",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1400,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dca3a2c87c8b4346",
        "type": "function",
        "z": "44cf1917690496d8",
        "name": "KAPE Chainsaw Process Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.kape = msg.dirname + '/C/Windows/System32/winevt/logs/';\nmsg.chainsaw_out = '/cases/evtxproc/chainsaw/' + msg.collection;\nmsg.chainsaw_exec = 'hunt -q ' + msg.collection + ' -s /opt/chainsaw/sigma/ --mapping /opt/chainsaw/mappings/sigma-event-logs-all.yml -r /opt/chainsaw/rules/ --csv --output ' + msg.chainsaw_out;\nmsg.chainsaw_ts1 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_antivirus\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/antivirus.csv\";\nmsg.chainsaw_ts2 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_microsoft_rds_events_-_user_profile_disk\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/microsoft_rds_events_-_user_profile_disk.csv\";\nmsg.chainsaw_ts3 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_powershell_script.\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/powershell_script.csv\";\nmsg.chainsaw_ts4 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_rdp_events\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/rdp_events.csv\";\nmsg.chainsaw_ts5 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_service_installation\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/service_installation.csv\";\nmsg.chainsaw_ts6 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_sigma\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/sigma.csv\";\nmsg.chainsaw_ts7 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_account_tampering\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/account_tampering.csv\";\nmsg.chainsaw_ts8 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_applocker\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/applocker.csv\";\nmsg.chainsaw_ts9 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_credential_access\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/credential_access.csv\";\nmsg.chainsaw_ts10 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_defensive_evasion\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/defensive_evasion.csv\";\nmsg.chainsaw_ts11 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_lateral_movement\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/lateral_movement.csv\";\nmsg.chainsaw_ts12 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_log_tampering\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/log_tampering.csv\";\nmsg.chainsaw_ts13 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_login_attacks\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/login_attacks.csv\";\nmsg.chainsaw_ts14 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_microsoft_rasvpn_events\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/microsoft_rasvpn_events.csv\";\nmsg.chainsaw_ts15 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_service_installation\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/service_installation.csv\";\nmsg.chainsaw_ts16 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_service_tampering\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/service_tampering.csv\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "d16c6f5299b56c8b"
            ]
        ]
    },
    {
        "id": "5e7cd7a03f986367",
        "type": "switch",
        "z": "44cf1917690496d8",
        "name": "",
        "property": "dirname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "/kape/",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "/collection/",
                "vt": "msg",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "dca3a2c87c8b4346"
            ],
            [
                "a0545953c85952cf"
            ]
        ]
    },
    {
        "id": "829a105eb6642804",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Notification-OUT-Hayabusa Timesketch Ingestion Success",
        "mode": "link",
        "links": [
            "190cbf4e80bfdd18"
        ],
        "x": 1645,
        "y": 780,
        "wires": []
    },
    {
        "id": "04540ea77b74e085",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Hayabusa to Timesketch Out",
        "mode": "link",
        "links": [
            "c07a0968fd953921"
        ],
        "x": 1645,
        "y": 880,
        "wires": []
    },
    {
        "id": "d03f70ebe08e48eb",
        "type": "debug",
        "z": "44cf1917690496d8",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1680,
        "y": 460,
        "wires": []
    },
    {
        "id": "a0545953c85952cf",
        "type": "function",
        "z": "44cf1917690496d8",
        "name": "VR Chainsaw Process Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.collection = msg.dirname + '/uploads/auto/C%3A/Windows/System32/winevt/Logs/';\nmsg.chainsaw_out = '/cases/evtxproc/chainsaw/' + msg.collection;\nmsg.chainsaw_exec = 'hunt -q ' + msg.collection + ' -s /opt/chainsaw/sigma/ --mapping /opt/chainsaw/mappings/sigma-event-logs-all.yml -r /opt/chainsaw/rules/ --csv --output ' + msg.chainsaw_out;\nmsg.chainsaw_ts1 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_antivirus\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/antivirus.csv\";\nmsg.chainsaw_ts2 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_microsoft_rds_events_-_user_profile_disk\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/microsoft_rds_events_-_user_profile_disk.csv\";\nmsg.chainsaw_ts3 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_powershell_script.\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/powershell_script.csv\";\nmsg.chainsaw_ts4 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_rdp_events\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/rdp_events.csv\";\nmsg.chainsaw_ts5 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_service_installation\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/service_installation.csv\";\nmsg.chainsaw_ts6 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_sigma\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/sigma.csv\";\nmsg.chainsaw_ts7 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_account_tampering\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/account_tampering.csv\";\nmsg.chainsaw_ts8 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_applocker\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/applocker.csv\";\nmsg.chainsaw_ts9 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_credential_access\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/credential_access.csv\";\nmsg.chainsaw_ts10 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_defensive_evasion\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/defensive_evasion.csv\";\nmsg.chainsaw_ts11 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_lateral_movement\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/lateral_movement.csv\";\nmsg.chainsaw_ts12 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_log_tampering\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/log_tampering.csv\";\nmsg.chainsaw_ts13 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_login_attacks\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/login_attacks.csv\";\nmsg.chainsaw_ts14 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_microsoft_rasvpn_events\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/microsoft_rasvpn_events.csv\";\nmsg.chainsaw_ts15 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_service_installation\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/service_installation.csv\";\nmsg.chainsaw_ts16 = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_service_tampering\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/service_tampering.csv\";\n\nreturn msg;\n\n\n// I MAY HAVE TO SPLIT THIS UP INTO Different nodes/functions",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 460,
        "wires": [
            [
                "bb69c0afc9f65daf"
            ]
        ]
    },
    {
        "id": "bb69c0afc9f65daf",
        "type": "exec",
        "z": "44cf1917690496d8",
        "command": "/opt/chainsaw/./chainsaw ",
        "addpay": "chainsaw_exec",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Chainsaw Evtx Process",
        "x": 630,
        "y": 480,
        "wires": [
            [],
            [],
            [
                "0fe5ad9ebca6b604"
            ]
        ]
    },
    {
        "id": "4a637e84a8bf980d",
        "type": "link out",
        "z": "44cf1917690496d8",
        "name": "Chainsaw Process",
        "mode": "link",
        "links": [
            "193c7477c3b6a27e",
            "e610cc78abebc271"
        ],
        "x": 1105,
        "y": 540,
        "wires": []
    },
    {
        "id": "e610cc78abebc271",
        "type": "link in",
        "z": "44cf1917690496d8",
        "name": "Output Chainsaw Process",
        "links": [
            "4a637e84a8bf980d",
            "5df7b19905dc38a3"
        ],
        "x": 1195,
        "y": 440,
        "wires": [
            [
                "669139136ac1b7d4"
            ]
        ]
    },
    {
        "id": "e05031cf8d470d50",
        "type": "debug",
        "z": "44cf1917690496d8",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "c980c719a0572241",
        "type": "pythonshell in",
        "z": "44cf1917690496d8",
        "name": "APTHunter",
        "pyfile": "/opt/APTHunter/APT-Hunter.py",
        "virtualenv": "",
        "continuous": false,
        "stdInData": false,
        "x": 910,
        "y": 1180,
        "wires": [
            [
                "ce55e2611f3a469e"
            ]
        ]
    },
    {
        "id": "6992cc02c66368f1",
        "type": "fs-ops-dir",
        "z": "44cf1917690496d8",
        "name": "List Files",
        "path": "collection",
        "pathType": "msg",
        "filter": "*",
        "filterType": "str",
        "dir": "payload",
        "dirType": "msg",
        "x": 420,
        "y": 1060,
        "wires": [
            [
                "7506a49c0dde33db"
            ]
        ]
    },
    {
        "id": "7506a49c0dde33db",
        "type": "split",
        "z": "44cf1917690496d8",
        "name": "Split Files",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 1060,
        "wires": [
            [
                "86399266731c2f9d"
            ]
        ]
    },
    {
        "id": "c438e45a3b7fb5f9",
        "type": "fs-ops-copy",
        "z": "44cf1917690496d8",
        "name": "Copy File",
        "sourcePath": "collection",
        "sourcePathType": "msg",
        "sourceFilename": "payload",
        "sourceFilenameType": "msg",
        "destPath": "destination",
        "destPathType": "msg",
        "destFilename": "payload",
        "destFilenameType": "msg",
        "link": false,
        "overwrite": false,
        "x": 1060,
        "y": 1060,
        "wires": [
            [
                "7a8a2543d32159b6"
            ]
        ]
    },
    {
        "id": "ce55e2611f3a469e",
        "type": "debug",
        "z": "44cf1917690496d8",
        "name": "Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1140,
        "y": 1180,
        "wires": []
    },
    {
        "id": "86399266731c2f9d",
        "type": "fs-ops-mkdir",
        "z": "44cf1917690496d8",
        "name": "",
        "path": "destination",
        "pathType": "msg",
        "dirname": "plasofname",
        "dirnameType": "msg",
        "recursive": false,
        "mode": "777",
        "fullpath": "directory",
        "fullpathType": "msg",
        "x": 880,
        "y": 1060,
        "wires": [
            [
                "c438e45a3b7fb5f9"
            ]
        ]
    },
    {
        "id": "7a8a2543d32159b6",
        "type": "fs-ops-move",
        "z": "44cf1917690496d8",
        "name": "",
        "sourcePath": "destination",
        "sourcePathType": "msg",
        "sourceFilename": "payload",
        "sourceFilenameType": "msg",
        "destPath": "winevt",
        "destPathType": "msg",
        "destFilename": "payload",
        "destFilenameType": "msg",
        "link": false,
        "x": 1240,
        "y": 1060,
        "wires": [
            [
                "3bc476f26a853220"
            ]
        ]
    },
    {
        "id": "abf00e4f5fdb6ba6",
        "type": "function",
        "z": "44cf1917690496d8",
        "name": "APTHunter payload Variables",
        "func": "//Create a variable to store the EVTX directory path\nmsg.collection = msg.dirname + '/uploads/auto/C%3A/Windows/System32/winevt/Logs/';\nmsg.destination = '/cases/processor/host-triage';\nmsg.winevt = msg.destination +\"/\"+ msg.plasofname \nmsg.payload = \"-p\" + msg.winevt +  \"-o Project1 -allreport\";\n//msg.apthunter_ts = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name chainsaw_antivirus\" + \" --sketch_id \" + \"1 \" + \"/cases/evtxproc/chainsaw/antivirus.csv\";\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 1180,
        "wires": [
            [
                "c980c719a0572241"
            ]
        ]
    },
    {
        "id": "09c39bbb162ee413",
        "type": "comment",
        "z": "44cf1917690496d8",
        "name": "Notes on Python Execution and File relocation",
        "info": "",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "193c7477c3b6a27e",
        "type": "link in",
        "z": "d75898983a7b91b1",
        "name": "Input Chainsaw Process",
        "links": [
            "4a637e84a8bf980d"
        ],
        "x": 375,
        "y": 200,
        "wires": [
            [
                "63786510530d725e"
            ]
        ]
    },
    {
        "id": "63786510530d725e",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts1",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 560,
        "y": 200,
        "wires": [
            [],
            [],
            [
                "ec1efb37c43fbd43"
            ]
        ]
    },
    {
        "id": "ec1efb37c43fbd43",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts2",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 560,
        "y": 260,
        "wires": [
            [],
            [],
            [
                "8743b99753d3ee55"
            ]
        ]
    },
    {
        "id": "8743b99753d3ee55",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts3",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 560,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "7bd0b2348de1be81"
            ]
        ]
    },
    {
        "id": "7bd0b2348de1be81",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts4",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 560,
        "y": 380,
        "wires": [
            [],
            [],
            [
                "693ccad89f37d439"
            ]
        ]
    },
    {
        "id": "693ccad89f37d439",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts5",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 560,
        "y": 440,
        "wires": [
            [],
            [],
            [
                "6de398b6e054768b"
            ]
        ]
    },
    {
        "id": "6de398b6e054768b",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts6",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 560,
        "y": 500,
        "wires": [
            [],
            [],
            [
                "70ebb8d27023cf16"
            ]
        ]
    },
    {
        "id": "70ebb8d27023cf16",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts7",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 840,
        "y": 200,
        "wires": [
            [],
            [],
            [
                "a16377a967eb388f"
            ]
        ]
    },
    {
        "id": "a16377a967eb388f",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts8",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 840,
        "y": 260,
        "wires": [
            [],
            [],
            [
                "5758cdb7864943bd"
            ]
        ]
    },
    {
        "id": "5758cdb7864943bd",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts9",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 840,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "552c9de55f6caf32"
            ]
        ]
    },
    {
        "id": "552c9de55f6caf32",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts10",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 840,
        "y": 380,
        "wires": [
            [],
            [],
            [
                "2217bbe26c31e495"
            ]
        ]
    },
    {
        "id": "2217bbe26c31e495",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts11",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 840,
        "y": 440,
        "wires": [
            [],
            [],
            [
                "e33b6971ddeb266f"
            ]
        ]
    },
    {
        "id": "e33b6971ddeb266f",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts12",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 1120,
        "y": 200,
        "wires": [
            [],
            [],
            [
                "a6de8bf632c19a3f"
            ]
        ]
    },
    {
        "id": "a6de8bf632c19a3f",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts13",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 1120,
        "y": 260,
        "wires": [
            [],
            [],
            [
                "702c6426ac77f8b3"
            ]
        ]
    },
    {
        "id": "702c6426ac77f8b3",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts14",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 1120,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "aa64e446c118749c"
            ]
        ]
    },
    {
        "id": "aa64e446c118749c",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts15",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 1120,
        "y": 380,
        "wires": [
            [],
            [],
            [
                "24ff618a3f05e6e9"
            ]
        ]
    },
    {
        "id": "24ff618a3f05e6e9",
        "type": "exec",
        "z": "d75898983a7b91b1",
        "command": "timesketch_importer",
        "addpay": "chainsaw_ts16",
        "append": "",
        "useSpawn": "false",
        "timer": "5",
        "winHide": false,
        "oldrc": false,
        "name": "Ingest Chainsaw data",
        "x": 1120,
        "y": 440,
        "wires": [
            [],
            [
                "5df7b19905dc38a3"
            ],
            [
                "5df7b19905dc38a3"
            ]
        ]
    },
    {
        "id": "5df7b19905dc38a3",
        "type": "link out",
        "z": "d75898983a7b91b1",
        "name": "Output Chainsaw Process",
        "mode": "link",
        "links": [
            "e610cc78abebc271"
        ],
        "x": 1355,
        "y": 480,
        "wires": []
    },
    {
        "id": "84d7cd3a2988674f",
        "type": "link in",
        "z": "018a08567380648f",
        "name": "E01 Process",
        "links": [
            "519e07706b40afdf"
        ],
        "x": 165,
        "y": 80,
        "wires": [
            [
                "b339a836f7ca03ae"
            ]
        ]
    },
    {
        "id": "ee130db70346c33f",
        "type": "exec",
        "z": "018a08567380648f",
        "command": "",
        "addpay": "l2tcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Log2timeline Process",
        "x": 1010,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "c4d94f0203d8a451"
            ]
        ]
    },
    {
        "id": "b2bf11153e48a136",
        "type": "comment",
        "z": "018a08567380648f",
        "name": "Change Log2timeline params here",
        "info": "",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "2bd019c605416de5",
        "type": "switch",
        "z": "018a08567380648f",
        "name": "Plaso Success",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 360,
        "wires": [
            [
                "db693363311281a4"
            ],
            []
        ]
    },
    {
        "id": "b339a836f7ca03ae",
        "type": "function",
        "z": "018a08567380648f",
        "name": "Process E01",
        "func": "msg.payload = \"Processing E01 file: \" + msg.filename;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 160,
        "wires": [
            [
                "dc4074416e6e3849"
            ]
        ]
    },
    {
        "id": "da564fec28f9243d",
        "type": "exec",
        "z": "018a08567380648f",
        "command": "timesketch_importer",
        "addpay": "tsimport",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Timesketch Import Process",
        "x": 470,
        "y": 460,
        "wires": [
            [],
            [],
            [
                "fedc039bcdadc4c6"
            ]
        ]
    },
    {
        "id": "fedc039bcdadc4c6",
        "type": "switch",
        "z": "018a08567380648f",
        "name": "Timesketch Process Result",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 460,
        "wires": [
            [],
            [
                "ba84680f025893b0"
            ]
        ]
    },
    {
        "id": "ba84680f025893b0",
        "type": "debug",
        "z": "018a08567380648f",
        "name": "Timesketch Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 460,
        "wires": []
    },
    {
        "id": "dc4074416e6e3849",
        "type": "function",
        "z": "018a08567380648f",
        "name": "E01 Variable Setup",
        "func": "// Setting up directory path of the file upload\nmsg.config = {};\nmsg.config.start = msg.filedirname;\n\n// Setting up vars to handle archive decompress operations\n//var plasoname = msg.filename.toLowerCase();\nvar plasoname = msg.filename.split(\".\")[0].toLowerCase();\n// Creating a Timestamp\nmsg.tstamp = new Date().toISOString().substring(0, 19).replace(/-/g, \"\").replace(/:/g, \"\");\n\n// Creating a File Name\nvar newFilename = plasoname;\n\n// Assigning the new filename to msg.plasofname\nmsg.plasoname = newFilename;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "6971bb5a28eb4ede"
            ]
        ]
    },
    {
        "id": "6971bb5a28eb4ede",
        "type": "function",
        "z": "018a08567380648f",
        "name": "Set-Log2timeline CLI params - backup",
        "func": "var plasodir = \"/cases/processor/\";\nvar plasofname = msg.plasoname.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\nmsg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + plasofname + msg.tstamp + \".plaso\" + \" \" + msg.filename;\nreturn msg;\n\n//var plasodir = \"/cases/plaso/\";\n//var plasoname = msg.filename.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\n//msg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + msg.plasoname + \".plaso\" + \" \" + msg.filename;\n//return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 160,
        "wires": [
            [
                "ee130db70346c33f"
            ]
        ]
    },
    {
        "id": "db693363311281a4",
        "type": "function",
        "z": "018a08567380648f",
        "name": "Timesketch CLI params",
        "func": "//var plasoname = msg.plasoname\n//var plasofullpath = \"/cases/plaso/\" + msg.plasoname + \".plaso\";\n//msg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.filename + \"-triage\" + \" --sketch_id \" + \"5\" + \" \" + plasofullpath;\n//return msg;\n\nvar plasofullpath = msg.plasoname.replace(\"/cases/processor/\", \"/cases/plaso/\") + msg.tstamp + \".plaso\";\nmsg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + plasofullpath + \"-triage\" + \" --sketch_id \" + \"1\" + \" \" + plasofullpath;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 380,
        "wires": [
            [
                "da564fec28f9243d"
            ]
        ]
    },
    {
        "id": "c4d94f0203d8a451",
        "type": "function",
        "z": "018a08567380648f",
        "name": "Log2timeline psort - plaso to csv params",
        "func": "var plasodir = \"/cases/processor/\";\nvar plasofname = msg.plasoname.replace('processor', 'plaso');\nvar plasocsv = msg.plasoname.replace(\"/cases/processor/\", \"/cases/plaso/\") + msg.tstamp + \".plaso\";\n//var storageFilePath = plasoname + \".plaso\";\nmsg.psort = \"psort.py -o dynamic -w \" + plasofname + msg.tstamp + \".csv\" + \" \" + plasocsv;\nreturn msg;\n\n//var plasodir = \"/cases/plaso/\n//var plasoname = msg.filename.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\n//msg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + msg.plasoname + \".plaso\" + \" \" + msg.filename;\n//return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 260,
        "wires": [
            [
                "4c7fa5331782add3"
            ]
        ]
    },
    {
        "id": "4c7fa5331782add3",
        "type": "exec",
        "z": "018a08567380648f",
        "command": "",
        "addpay": "psort",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Log2timeline psort Process",
        "x": 690,
        "y": 260,
        "wires": [
            [],
            [],
            [
                "2bd019c605416de5"
            ]
        ]
    },
    {
        "id": "236dcee18367a244",
        "type": "link in",
        "z": "ff0d2698d578dcb2",
        "name": "VHD Process",
        "links": [
            "dccc0af765f16871"
        ],
        "x": 75,
        "y": 80,
        "wires": [
            [
                "3fec1120718770d5"
            ]
        ]
    },
    {
        "id": "afd054c9ce723c46",
        "type": "exec",
        "z": "ff0d2698d578dcb2",
        "command": "",
        "addpay": "l2tcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Log2timeline Process",
        "x": 1020,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "e30d39af9819cc49",
                "d37dd7c3cf614ca9"
            ]
        ]
    },
    {
        "id": "e0294028f923f488",
        "type": "comment",
        "z": "ff0d2698d578dcb2",
        "name": "Change Log2timeline params here",
        "info": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "e30d39af9819cc49",
        "type": "switch",
        "z": "ff0d2698d578dcb2",
        "name": "Plaso Success",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 460,
        "wires": [
            [
                "1ce8f7382b57c43f"
            ],
            []
        ]
    },
    {
        "id": "7c4f79e10a45de36",
        "type": "exec",
        "z": "ff0d2698d578dcb2",
        "command": "timesketch_importer",
        "addpay": "tsimport",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Timesketch Import Process",
        "x": 400,
        "y": 560,
        "wires": [
            [],
            [],
            [
                "cff0d7c2eec2b311",
                "277219aa72300a53"
            ]
        ]
    },
    {
        "id": "cff0d7c2eec2b311",
        "type": "switch",
        "z": "ff0d2698d578dcb2",
        "name": "Timesketch Process Result",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 680,
        "y": 560,
        "wires": [
            [],
            [
                "b24f7182fb3ff677",
                "1c89f24e66f6ccb4"
            ]
        ]
    },
    {
        "id": "b24f7182fb3ff677",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "Timesketch Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 560,
        "wires": []
    },
    {
        "id": "870571f16ceb74b6",
        "type": "function",
        "z": "ff0d2698d578dcb2",
        "name": "VHD Variable Setup",
        "func": "// Setting up directory path of the file upload\nmsg.config = {};\nmsg.config.start = msg.filedirname;\n\n// Setting up vars to handle archive decompress operations\n//var plasoname = msg.filename.toLowerCase();\nvar plasoname = msg.filename.split(\".\")[0].toLowerCase();\n// Creating a Timestamp\nmsg.tstamp = new Date().toISOString().substring(0, 19).replace(/-/g, \"\").replace(/:/g, \"\");\n\n// Creating a File Name\nvar newFilename = plasoname;\n\n// Assigning the new filename to msg.plasofname\nmsg.plasoname = newFilename;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "8549e96e32ac6fca"
            ]
        ]
    },
    {
        "id": "8549e96e32ac6fca",
        "type": "function",
        "z": "ff0d2698d578dcb2",
        "name": "Set-Log2timeline CLI params - backup",
        "func": "var plasodir = \"/cases/processor/\";\nvar plasofname = msg.plasoname.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\nmsg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + plasofname + msg.tstamp + \".plaso\" + \" \" + msg.filename;\nreturn msg;\n\n//var plasodir = \"/cases/plaso/\";\n//var plasoname = msg.filename.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\n//msg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + msg.plasoname + \".plaso\" + \" \" + msg.filename;\n//return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 180,
        "wires": [
            [
                "afd054c9ce723c46",
                "7d78c5083a03b982"
            ]
        ]
    },
    {
        "id": "1ce8f7382b57c43f",
        "type": "function",
        "z": "ff0d2698d578dcb2",
        "name": "Timesketch CLI params",
        "func": "//var plasoname = msg.plasoname\n//var plasofullpath = \"/cases/plaso/\" + msg.plasoname + \".plaso\";\n//msg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.filename + \"-triage\" + \" --sketch_id \" + \"5\" + \" \" + plasofullpath;\n//return msg;\n\nvar plasofullpath = msg.plasoname.replace(\"/cases/processor/\", \"/cases/plaso/\") + msg.tstamp + \".plaso\";\nmsg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + plasofullpath + \"-triage\" + \" --sketch_id \" + \"5\" + \" \" + plasofullpath;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "7c4f79e10a45de36",
                "24b2fbf9986967ee"
            ]
        ]
    },
    {
        "id": "a98cbd5e90fb896b",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "7d78c5083a03b982",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "d37dd7c3cf614ca9",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "52b88928d028225c",
        "type": "function",
        "z": "ff0d2698d578dcb2",
        "d": true,
        "name": "VHD Variable Setup",
        "func": "// Setting up directory path of the file upload\nmsg.config = {};\nmsg.config.start = msg.filedirname;\n\n// Setting up vars to handle archive decompress operations\nvar plasoname = msg.file.split(\".\")[0];\nvar filename = plasofname.toLowerCase();\nmsg.tstamp = new Date().toISOString().substring(0, 19).replace(/-/g, \"\").replace(/:/g, \"\");\nvar plasofname = filename + msg.tstamp + \"Z\";\nmsg.filename = plasoname.toLowerCase();\nmsg.plasoname = msg.filename\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "8549e96e32ac6fca"
            ]
        ]
    },
    {
        "id": "24b2fbf9986967ee",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 680,
        "wires": []
    },
    {
        "id": "277219aa72300a53",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 680,
        "wires": []
    },
    {
        "id": "1c89f24e66f6ccb4",
        "type": "debug",
        "z": "ff0d2698d578dcb2",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 680,
        "wires": []
    },
    {
        "id": "3fec1120718770d5",
        "type": "function",
        "z": "ff0d2698d578dcb2",
        "name": "Process VHD",
        "func": "msg.payload = \"Processing VHD file: \" + msg.filename;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "870571f16ceb74b6",
                "52b88928d028225c"
            ]
        ]
    },
    {
        "id": "abc43a287b554b44",
        "type": "link in",
        "z": "a3bca09fa64d5135",
        "name": "VMDK Process",
        "links": [
            "5d88f249dc4c5a80"
        ],
        "x": 45,
        "y": 80,
        "wires": [
            [
                "22ca046e75b8e9d2"
            ]
        ]
    },
    {
        "id": "b34940a8958614e4",
        "type": "exec",
        "z": "a3bca09fa64d5135",
        "command": "",
        "addpay": "l2tcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Log2timeline Process",
        "x": 900,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "01c1d8b99c81072a"
            ]
        ]
    },
    {
        "id": "4295dc86f008a7a1",
        "type": "comment",
        "z": "a3bca09fa64d5135",
        "name": "Change Log2timeline params here",
        "info": "",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "01c1d8b99c81072a",
        "type": "switch",
        "z": "a3bca09fa64d5135",
        "name": "Plaso Success",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 220,
        "wires": [
            [],
            [
                "abb5b95994ba6a21"
            ]
        ]
    },
    {
        "id": "22ca046e75b8e9d2",
        "type": "function",
        "z": "a3bca09fa64d5135",
        "name": "Process VMDK",
        "func": "msg.payload = \"Processing VMDK file: \" + msg.filename;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "8b805f689d8a9797"
            ]
        ]
    },
    {
        "id": "ddd73ab8d736dd78",
        "type": "exec",
        "z": "a3bca09fa64d5135",
        "command": "timesketch_importer",
        "addpay": "tsimport",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Timesketch Import Process",
        "x": 300,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "a546baa55d0427ca"
            ]
        ]
    },
    {
        "id": "a546baa55d0427ca",
        "type": "switch",
        "z": "a3bca09fa64d5135",
        "name": "Timesketch Process Result",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 580,
        "y": 320,
        "wires": [
            [],
            [
                "0f1c740a853f599c"
            ]
        ]
    },
    {
        "id": "0f1c740a853f599c",
        "type": "debug",
        "z": "a3bca09fa64d5135",
        "name": "Timesketch Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "8b805f689d8a9797",
        "type": "function",
        "z": "a3bca09fa64d5135",
        "name": "VMDK Variable Setup",
        "func": "// Setting up directory path of the file upload\nmsg.config = {};\nmsg.config.start = msg.dirfile;\n\n// Setting up vars to handle archive decompress operations\nvar plasoname = msg.filename.toLowerCase();\n\n// Creating a Timestamp\nmsg.tstamp = new Date().toISOString().substring(0, 19).replace(/-/g, \"\").replace(/:/g, \"\");\n\n// Creating a File Name\nvar newFilename = plasoname;\n\n// Assigning the new filename to msg.plasoname\nmsg.plasoname = newFilename;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "970bf3b5f31665c1"
            ]
        ]
    },
    {
        "id": "970bf3b5f31665c1",
        "type": "function",
        "z": "a3bca09fa64d5135",
        "name": "Set-Log2timeline CLI params - backup",
        "func": "//var plasodir = \"/cases/plaso/\";\nvar plasoname = msg.filename.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\nmsg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + msg.plasoname + \".plaso\" + \" \" + msg.filename;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "b34940a8958614e4"
            ]
        ]
    },
    {
        "id": "abb5b95994ba6a21",
        "type": "function",
        "z": "a3bca09fa64d5135",
        "name": "Timesketch CLI params",
        "func": "//var plasofullpath = \"/cases/plaso/\" + msg.plasoname + \".plaso\";\nmsg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.plasoname + \"-triage\" + \" --sketch_id \" + \"5\" + \" \" + msg.plasoname + \".plaso\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "ddd73ab8d736dd78"
            ]
        ]
    },
    {
        "id": "1896b282f8d5a850",
        "type": "link in",
        "z": "bb185f14c626bdfb",
        "name": "VHDX Process",
        "links": [
            "1f168e07a0d53239"
        ],
        "x": 225,
        "y": 100,
        "wires": [
            [
                "a10941afa6864b64"
            ]
        ]
    },
    {
        "id": "7f58ebe8d0869039",
        "type": "exec",
        "z": "bb185f14c626bdfb",
        "command": "",
        "addpay": "l2tcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Log2timeline Process",
        "x": 940,
        "y": 180,
        "wires": [
            [],
            [],
            [
                "e2456751ba44f0fa"
            ]
        ]
    },
    {
        "id": "4671dff25fbedda4",
        "type": "comment",
        "z": "bb185f14c626bdfb",
        "name": "Change Log2timeline params here",
        "info": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "e2456751ba44f0fa",
        "type": "switch",
        "z": "bb185f14c626bdfb",
        "name": "Plaso Success",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 200,
        "y": 240,
        "wires": [
            [],
            [
                "607a7ef1639dae0e"
            ]
        ]
    },
    {
        "id": "a10941afa6864b64",
        "type": "function",
        "z": "bb185f14c626bdfb",
        "name": "Process VHDX",
        "func": "msg.payload = \"Processing VHDX file: \" + msg.filename;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 180,
        "wires": [
            [
                "71208e0ed3297239"
            ]
        ]
    },
    {
        "id": "5d5208cf034a867e",
        "type": "exec",
        "z": "bb185f14c626bdfb",
        "command": "timesketch_importer",
        "addpay": "tsimport",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Timesketch Import Process",
        "x": 340,
        "y": 340,
        "wires": [
            [],
            [],
            [
                "76b81edbd03448f0"
            ]
        ]
    },
    {
        "id": "76b81edbd03448f0",
        "type": "switch",
        "z": "bb185f14c626bdfb",
        "name": "Timesketch Process Result",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 340,
        "wires": [
            [],
            [
                "21cde48ba5e15205"
            ]
        ]
    },
    {
        "id": "21cde48ba5e15205",
        "type": "debug",
        "z": "bb185f14c626bdfb",
        "name": "Timesketch Error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "71208e0ed3297239",
        "type": "function",
        "z": "bb185f14c626bdfb",
        "name": "VHDX Variable Setup",
        "func": "// Setting up directory path of the file upload\nmsg.config = {};\nmsg.config.start = msg.dirfile;\n\n// Setting up vars to handle archive decompress operations\nvar plasoname = msg.filename.toLowerCase();\n\n// Creating a Timestamp\nmsg.tstamp = new Date().toISOString().substring(0, 19).replace(/-/g, \"\").replace(/:/g, \"\");\n\n// Creating a File Name\nvar newFilename = plasoname;\n\n// Assigning the new filename to msg.plasoname\nmsg.plasoname = newFilename;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "32cc197d33db7759"
            ]
        ]
    },
    {
        "id": "32cc197d33db7759",
        "type": "function",
        "z": "bb185f14c626bdfb",
        "name": "Set-Log2timeline CLI params - backup",
        "func": "//var plasodir = \"/cases/plaso/\";\nvar plasoname = msg.filename.replace('processor', 'plaso');\n//var storageFilePath = plasoname + \".plaso\";\nmsg.l2tcli = \"log2timeline.py --partitions all --status_view none --storage-file \" + msg.plasoname + \".plaso\" + \" \" + msg.filename;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 180,
        "wires": [
            [
                "7f58ebe8d0869039"
            ]
        ]
    },
    {
        "id": "607a7ef1639dae0e",
        "type": "function",
        "z": "bb185f14c626bdfb",
        "name": "Timesketch CLI params",
        "func": "//var plasofullpath = \"/cases/plaso/\" + msg.plasoname + \".plaso\";\nmsg.tsimport = \"-u dfir -p admin --host http://127.0.0.1 --timeline_name \" + msg.plasoname + \"-triage\" + \" --sketch_id \" + \"5\" + \" \" + msg.plasoname + \".plaso\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "5d5208cf034a867e"
            ]
        ]
    },
    {
        "id": "9d715d28b4a932ae",
        "type": "switch",
        "z": "7fd75b92004ac098",
        "name": "Archive Type Detection",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*\\.zip",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.7z",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.rar",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.tar.(gz|bz2)",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "d9d0bb7a8c9d16a9"
            ],
            [
                "825f610d85bddb87"
            ],
            [
                "9dc3e97d270d3bca"
            ],
            [
                "321a066cb61974a2"
            ],
            [
                "4a4338d66ea93999"
            ]
        ]
    },
    {
        "id": "bb4beaa62a0d33db",
        "type": "link in",
        "z": "7fd75b92004ac098",
        "name": "Identify Archive Type",
        "links": [
            "b6ecf5f15136a82b"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "9d715d28b4a932ae"
            ]
        ]
    },
    {
        "id": "4a4338d66ea93999",
        "type": "debug",
        "z": "7fd75b92004ac098",
        "name": "Unsupported Archive Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9d0bb7a8c9d16a9",
        "type": "exec",
        "z": "7fd75b92004ac098",
        "command": "unzip  -t",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "360",
        "winHide": false,
        "oldrc": false,
        "name": "Zip Integrity Check",
        "x": 530,
        "y": 80,
        "wires": [
            [],
            [],
            [
                "71315e8395335c88"
            ]
        ]
    },
    {
        "id": "71315e8395335c88",
        "type": "switch",
        "z": "7fd75b92004ac098",
        "name": "Integrity Check Result",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 140,
        "wires": [
            [
                "3a6757a824d0b781"
            ],
            [
                "ee98b2b95731d016"
            ]
        ]
    },
    {
        "id": "ee98b2b95731d016",
        "type": "debug",
        "z": "7fd75b92004ac098",
        "name": "Archive Integrity Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 180,
        "wires": []
    },
    {
        "id": "825f610d85bddb87",
        "type": "exec",
        "z": "7fd75b92004ac098",
        "command": "7z t",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "360",
        "winHide": false,
        "oldrc": false,
        "name": "7z Integrity Check",
        "x": 530,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "71315e8395335c88"
            ]
        ]
    },
    {
        "id": "321a066cb61974a2",
        "type": "exec",
        "z": "7fd75b92004ac098",
        "command": "tar -tf",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "360",
        "winHide": false,
        "oldrc": false,
        "name": "Tar Gz or Bz2 Integrity Check",
        "x": 560,
        "y": 260,
        "wires": [
            [],
            [],
            [
                "71315e8395335c88"
            ]
        ]
    },
    {
        "id": "3a6757a824d0b781",
        "type": "link out",
        "z": "7fd75b92004ac098",
        "name": "Integrity Check Passed",
        "mode": "link",
        "links": [
            "65e9ad454afcf6d1"
        ],
        "x": 1055,
        "y": 100,
        "wires": []
    },
    {
        "id": "9dc3e97d270d3bca",
        "type": "exec",
        "z": "7fd75b92004ac098",
        "command": "unrar t",
        "addpay": "filename",
        "append": "",
        "useSpawn": "false",
        "timer": "360",
        "winHide": false,
        "oldrc": false,
        "name": "WinRAR Integrity Check",
        "x": 550,
        "y": 200,
        "wires": [
            [],
            [],
            [
                "71315e8395335c88"
            ]
        ]
    },
    {
        "id": "5fd92537b38314b0",
        "type": "link in",
        "z": "bc372fc61e93398a",
        "name": "DecompressIn",
        "links": [
            "f1ea48448bbde595"
        ],
        "x": 215,
        "y": 160,
        "wires": [
            [
                "7f64c3e43c1af844"
            ]
        ]
    },
    {
        "id": "7f64c3e43c1af844",
        "type": "switch",
        "z": "bc372fc61e93398a",
        "name": "Decompress Archive",
        "property": "filename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ".*\\.zip",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.7z",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.rar",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.tar.gz",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": ".*\\.tar.bz2",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 400,
        "y": 160,
        "wires": [
            [
                "4a960a020b633b75"
            ],
            [
                "ea681456f4cd7b62"
            ],
            [
                "9f812794c347bcfc"
            ],
            [
                "f534bd58ca16b78c"
            ],
            [
                "6516971a7534de22"
            ],
            [
                "095af03c967a27c6"
            ]
        ]
    },
    {
        "id": "095af03c967a27c6",
        "type": "debug",
        "z": "bc372fc61e93398a",
        "name": "Unsupported File Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "4a960a020b633b75",
        "type": "exec",
        "z": "bc372fc61e93398a",
        "command": "unzip",
        "addpay": "unzipcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Unzip Decompress",
        "x": 650,
        "y": 40,
        "wires": [
            [],
            [],
            [
                "e8aed768bff52623"
            ]
        ]
    },
    {
        "id": "ea681456f4cd7b62",
        "type": "exec",
        "z": "bc372fc61e93398a",
        "command": "7z",
        "addpay": "sevzipcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "7zip Decompress",
        "x": 650,
        "y": 100,
        "wires": [
            [],
            [],
            [
                "e8aed768bff52623"
            ]
        ]
    },
    {
        "id": "f534bd58ca16b78c",
        "type": "exec",
        "z": "bc372fc61e93398a",
        "command": "tar",
        "addpay": "targzcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TarGzip Decompress",
        "x": 660,
        "y": 220,
        "wires": [
            [],
            [],
            [
                "e8aed768bff52623"
            ]
        ]
    },
    {
        "id": "e8aed768bff52623",
        "type": "link out",
        "z": "bc372fc61e93398a",
        "name": "Decompress Status Out",
        "mode": "link",
        "links": [
            "a9c3989928f3fee0"
        ],
        "x": 955,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f812794c347bcfc",
        "type": "exec",
        "z": "bc372fc61e93398a",
        "command": "unrar",
        "addpay": "unrarcli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "WinRAR Decompress",
        "x": 660,
        "y": 160,
        "wires": [
            [],
            [],
            [
                "e8aed768bff52623"
            ]
        ]
    },
    {
        "id": "6516971a7534de22",
        "type": "exec",
        "z": "bc372fc61e93398a",
        "command": "tar",
        "addpay": "tarbz2cli",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TarBzip2 Decompress",
        "x": 660,
        "y": 280,
        "wires": [
            [],
            [],
            [
                "e8aed768bff52623"
            ]
        ]
    },
    {
        "id": "edcac73c6d2f1fd4",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Decompression Success",
        "links": [
            "562bd891136c7a22"
        ],
        "x": 255,
        "y": 120,
        "wires": [
            [
                "65be5cd6680294ca"
            ]
        ]
    },
    {
        "id": "65be5cd6680294ca",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Decompression Success",
        "func": "msg.payload = new Date().toISOString()  + \" - \" +msg.filename + \" file was decompressed successfully\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 120,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "b43ee8044209a3aa",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Decompression Failure",
        "links": [
            "d3ad201a6345ec44"
        ],
        "x": 255,
        "y": 180,
        "wires": [
            [
                "f3c0e7e411c7a61e"
            ]
        ]
    },
    {
        "id": "f3c0e7e411c7a61e",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Decompression Failure",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + msg.filename + \" file decompression was unsuccessful\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "bc9fb963b0687733",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Plaso Generation Failure",
        "links": [
            "50851a2aa40d6716"
        ],
        "x": 255,
        "y": 240,
        "wires": [
            [
                "f1d981dde4fef202"
            ]
        ]
    },
    {
        "id": "a05e730349905e6d",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Plaso Generation Success",
        "links": [
            "929888b23686884c"
        ],
        "x": 255,
        "y": 300,
        "wires": [
            [
                "eb6ca784fc1eaaa7"
            ]
        ]
    },
    {
        "id": "f1d981dde4fef202",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Plaso Generation Failure",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Plaso file generation failed for  \" + msg.filename;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "eb6ca784fc1eaaa7",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Plaso Generation Success",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Plaso file generation successful for  \" + msg.filename;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "a20fe85e7f1585f9",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Timesketch Ingestion Success",
        "links": [
            "c2df1a428cd94263"
        ],
        "x": 255,
        "y": 360,
        "wires": [
            [
                "ba5b6632cd41e404"
            ]
        ]
    },
    {
        "id": "ba5b6632cd41e404",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Timesketch Ingestion Success",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Ingestion of \" + msg.plasofname +\".plaso\" + \" to Timesketch was successful\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "c87ad6c2583e31df",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Timesketch Ingestion Failure",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Ingestion of \" + msg.plasofname +\".plaso\" + \" to Timesketch has failed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 420,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "e1b089d27626665d",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Timesketch Ingestion Failure",
        "links": [
            "8a7ad3746fdfc178"
        ],
        "x": 255,
        "y": 420,
        "wires": [
            [
                "c87ad6c2583e31df"
            ]
        ]
    },
    {
        "id": "75769f870091de80",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Queue Release",
        "links": [
            "62e7086b962f93fe"
        ],
        "x": 255,
        "y": 60,
        "wires": [
            [
                "cba9b76cb1c56b4a"
            ]
        ]
    },
    {
        "id": "cba9b76cb1c56b4a",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Queue Release",
        "func": "\nmsg.payload = new Date().toISOString() + \" - \" + msg.filename + \" file was released from the queue for processing\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "8f9d6c75a332b924",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Folder Deletion Success",
        "links": [
            "c7d1af60f74efd2f"
        ],
        "x": 255,
        "y": 480,
        "wires": [
            [
                "aeef9d6ba04ddb3e"
            ]
        ]
    },
    {
        "id": "0975b2e8606a7c44",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Folder Deletion Failure",
        "links": [
            "81fe69036c81c53d"
        ],
        "x": 255,
        "y": 540,
        "wires": [
            [
                "4ba15d4b23220bd2"
            ]
        ]
    },
    {
        "id": "aeef9d6ba04ddb3e",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Folder Deletion Success",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Ingestion of \" + msg.dirname + \" folder was successfully deleted\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 480,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "4ba15d4b23220bd2",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Folder Deletion Failure",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Ingestion of \" + msg.dirname + \" folder deletion failed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 540,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "63dc4d0d295180ee",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Hayabusa Process Success",
        "links": [
            "a1b64661a3ee175c"
        ],
        "x": 255,
        "y": 600,
        "wires": [
            [
                "4b974ddf0ca8899f"
            ]
        ]
    },
    {
        "id": "3a52eeecb5988857",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Hayabusa Process Failure",
        "links": [
            "0974be28f22e530d"
        ],
        "x": 255,
        "y": 660,
        "wires": [
            [
                "d74f86e56560270b"
            ]
        ]
    },
    {
        "id": "4b974ddf0ca8899f",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Hayabusa Process Success",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Hayabusa processing of \" + msg.winevt + \" was successful\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 600,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "d74f86e56560270b",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Hayabusa Process Failure",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Hayabusa processing of \" + msg.winevt + \" has failed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 660,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "190cbf4e80bfdd18",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Hayabusa Timesketch Ingestion Success",
        "links": [
            "829a105eb6642804"
        ],
        "x": 255,
        "y": 720,
        "wires": [
            [
                "ddbef328f7151428"
            ]
        ]
    },
    {
        "id": "3f4ad6eb73e91522",
        "type": "link in",
        "z": "25f311019f0d6662",
        "name": "Notification-IN-Hayabusa Timesketch Ingestion Failure",
        "links": [
            "c47ba0bd5dd540ee"
        ],
        "x": 255,
        "y": 780,
        "wires": [
            [
                "0d99b8c43a28aa0f"
            ]
        ]
    },
    {
        "id": "ddbef328f7151428",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Hayabusa Timesketch Ingestion Success",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Timesketch ingestion of Hayabusa processsed data of  \" + msg.hayabusa_out + \".csv\" +\" was successful\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 720,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "0d99b8c43a28aa0f",
        "type": "function",
        "z": "25f311019f0d6662",
        "name": "Hayabusa Timesketch Ingestion Failure",
        "func": "msg.payload = new Date().toISOString()  + \" - \" + \"Timesketch ingestion of Hayabusa processsed data of  \" + msg.hayabusa_out + \".csv\" + \" has failed\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 780,
        "wires": [
            [
                "9a14dd7dafbb0782"
            ]
        ]
    },
    {
        "id": "9a14dd7dafbb0782",
        "type": "slack",
        "z": "25f311019f0d6662",
        "name": "Notification to Slack",
        "channelURL": "{CHANGEME_WEBHOOKURL",
        "username": "DFIR Lab Bot",
        "emojiIcon": "",
        "channel": "",
        "x": 750,
        "y": 260,
        "wires": []
    }
]
